@import url(https://fonts.googleapis.com/css?family=Golos+Text:regular,600,700);

:root {
    --font-family: "Golos Text", sans-serif;
    --second-family: "Golos", sans-serif;
    --brown-color: #2D0202;
    --white-color: #FFFFFF;
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0px;
}


.body {
    /* width: 1600px; */
    width: 100%;
    position: relative;
    height: 100%;
    color: var(--brown-color);
    background-color: var(--white-color);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wrapper > * {
    min-width: 0;
}

.wrapper > main {
    
    flex: 1 1 auto;
    position: relative;
}



*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
}

a {
    text-decoration: none;
    font-family: var(--font-family);
    align-items: center;

    cursor: pointer;
    color: currentColor;
    position: relative;
}

.header {
    z-index: 999;
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    color: var(--brown-color);
    margin-bottom: -100%;


}

[class*=__container] {
    margin: 0 auto;
    width: 100%;
    max-width: 1343px;
    padding-left: 20px;
    padding-right: 20px;
}

img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}



.header__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;



}


/* .header__menu .menu__list li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out;
} */

.header__top {
    padding: 23px 0 18px;
}


.header__bottom {
    background-color: var(--white-color);
    font-size: 13.1789px;
    padding: 20px 0;
    color: var(--brown-color);
}

.header__bottom a {

    font-size: 22px;


}


button {
    cursor: pointer;
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
    font-family: var(--font-family);

}

.header__logo {
    width: 100%;
    max-width: 324px;
    margin-right: 23px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    /* or 16px */


    color: currentColor;

}





.menu__item svg {
    margin-right: 10px;
    display: flex;
    align-items: center;
}


.menu__list {
    list-style: none;
    display: flex;

}

.menu__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 103%;



    color: currentColor;


}

.menu__list li:not(:last-child) {
    margin-right: 40px;
}
.menu__item span {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 100%;
    /* identical to box height, or 19px */
    display: flex;
    align-items: center;

    margin-bottom: 14px;

    color: currentColor;

}

.header__bvi {
    color: var(--white-color);
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    align-items: center;
    text-decoration: none;
    padding: 7px 20px 7px 15px;
    border: 1px solid #FFFFFF;
    display: flex;

}

.header__bvi svg {
    margin-right: 23px;
}

.header__bvi:hover {
    background-color: pink;
    border: 1px solid var(--brown-color);
    transition: all 0.3s ease-in-out;
}


.btn:hover {
    background-color: var(--brown-color);
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
}

.version a:hover {
    background-color: var(--brown-color);
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
}

.page {
    top: 0;
    left: 0;
    position: absolute;
}



.banner {

    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 55px;
    position: relative;

}

.banner__bg {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
    width: 100%;
    height: 100%;
}

.banner__bg img {

    position: absolute;
    max-width: 100%;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.banner__container {
    height: 100%;


}


.banner__content {

    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    color: var(--white-color);

}

.banner__text {


    max-width: 630px;



    
}

h1 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 100%;
    text-transform: uppercase;


}

h4 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;
    /* or 35px */
    display: flex;










}

blockquote {
    padding-left: 23px;
    border-left: 6px solid currentColor;
    margin-top: 40px;


  }


.banner__text a {
    /* width: 53%; */
    color: var(--brown-color);
    font-weight: 600;
    font-size: 24.40px;
    line-height: 107%;
    display: inline-flex;
    padding: 19px 68px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 40px;
    transition: all 0.3s ease 0s;

}

.text_block {
    /* height: 100vh; */
    margin: 40px 0 43px 0;

}


.text_block__container {



    margin: 0 auto;
}

.text_block__content {

    flex: 0 0 100%;



}




.text_block__img img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}



.text_block__list {
    background-color: var(--brown-color);
    padding: 17px 32px 18px 23px;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 17px;
    line-height: 166%;
    display: flex;
    align-items: center;
    color: currentColor;
    margin-top: 23px;
}

.text_block__list ol {
    counter-reset: list;
}





.text_block__list ol li {
    color: var(--white-color);
    font-family: var(--font-family);
    list-style-position: inside;
    font-size: 17px;
    line-height: 166%;
    font-weight: 600;
    gap: 5px;
}


.text_block__list ol li:not(:last-child) {
    margin-bottom: 2.2px;
}

.text_block__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    display: flex;
    text-transform: uppercase;
    background-color: var(--brown-color);
    color: var(--white-color);
    align-items: center;
    min-height: 117px;
    padding: 13px 20px 13px 22px;
    position: relative;
}

.logo {
    /* padding-top: 1200px; */
    margin: 0 0 43px 0;
}

.logo__list {
    display: flex;
    justify-content: space-between;
}




.footer {
    color: #f8f8f8;
    margin-top: 70px;
    background-color: var(--brown-color);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer__top {

    padding: 58px 0 180px 0;

}

.footer__name {

    margin-right: 23px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;

}

.footer__spollers {
    display: flex;
    align-items: flex-start;

    width: 100%;
    justify-content: space-between;
    gap: 30px;
}


.footer__spollers_item {
    max-width: 295px;
}

.footer__spollers_title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;


}

.footer__spollers_body {
    margin-top: 23px;
}

.footer_menu .menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footer_menu .menu__list li {
    display: flex;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    align-items: flex-start;
}

.footer_menu .menu__list li a {
    text-transform: none;
}





.footer__bottom {
    background-color: #7D542D;
    padding: 23px 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;


}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1343px;
    margin: 0 auto;
}

.footer__spollers_item .menu__item a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    display: flex;
}

.footer__link ul li {
    list-style: none;
}

.footer__link ul li a {
    text-transform: none;
}


.header_brown .header__bvi {
    color: var(--brown-color);
    border: 1px solid var(--brown-color);
}

.header_brown .header__bottom {
    color: var(--white-color);
    background-color: var(--brown-color);
}

.header_brown {
    color: var(--white-color);
    margin-bottom: 0;
}



.text_block__title::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--brown-color);
    z-index: -1;
}



.text_block__table {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    max-width: 1303px;
    width: 100%;
    font-family: var(--font-family);
    margin-top: 100px;
    color: var(--brown-color);

    
}

.text_block__table table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;

}

.text_block__table tr:first-child td {
    border-top: 1px solid #d9d9d9;
}

tr {
    vertical-align: center;
}
.text_block__table tr td {
    vertical-align: top;
    border-bottom: 1px solid #d9d9d9;
    padding: 20px 5px;
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
}

.footer_menu .menu__list li:not(:last-child) {
    margin-bottom: 10px;
}

.footer__bottom a {
    font-size: 10px;
}

.menu__list li a {
    display: flex;
}

.menu__list li a:hover:after {
    width: 100%;
    left: 0;
}

.menu__list li a::after {

    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    transition: all 0.3s ease;
}

.menu__list li a:hover:after,
.menu__list li a:focus:after {
	width: 100%; 
}

@media screen and (max-width: 1439px) {
    .header__bottom a {
        font-size: 18px;
    }

    .header .menu__list li {
        font-size: 18px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 28px;
    }
    h4 {
        font-size: 20px;
    }
    .banner__text blockquote, .banner__text .btn {
        margin-top: 20px;
    }
    .banner__text a {
        font-size: 20px;
        padding: 16px 20px;
    }
    blockquote {
        border-width: 2px;
        padding-left: 15px;
    }
    
    .text_block {
        margin: 30px 0;
    }
    .text_block__list {
        padding: 20px;
        margin-top: 16px;
    }
    .logo {
        margin: 30px 0;
    }
    .footer__name {
        font-size: 13px;
    }
    .footer__spollers_title {
        font-size: 14px;
    }
    .footer_menu .menu__list li {
        font-size: 14px;
    }
    .footer_menu .menu__list li a {
        font-size: 14px;
    }
    .footer__top {
        padding: 40px 0 120px;
    }
    .footer__spollers_body {
        margin-top: 10px;
    }
    .footer {
        margin: 30px 0 0;
    }
    .text_block__table tr td {
        font-size: 14px;
        padding: 15px 5px;
    }
    
}


@media screen and (max-width: 1169.98px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
    .banner__text a {
        font-size: 16px;

    }
    .header__menu .menu__list li {
        font-size: 16px;
    }


    .header__menu .menu__list li span, .header__menu .menu__list li a {
        font-size: 16px;
    }
    .text_block__list ol li {
        font-size: 14px;
    }
    .text_block__title {
        padding: 15px;
    }
    .text_block__list {
        padding: 15px;
    }
    .footer__top {
        padding: 30px 0 80px;
    }
}







@media screen and (max-width: 991.98px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }
    .banner__text a {
        font-size: 14px;

    }
    .map {
        height: 300px;
    }
    .footer__wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .footer__top {
        padding: 30px 0;
    }








    .header__menu .menu__burger {
        display: flex;
        width: 20px;
        height: 16px;
        position: relative;
        transition: all 0.3s ease 0s;
        align-items: center;
        justify-content: center;
        z-index: 5;

    }
    .header__menu .menu__burger::before {
        top: 0px;
    }

    .header__menu .menu__burger span, .header__menu .menu__burger::before, .header__menu .menu__burger::after {
        content: "";
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: currentColor;
    }

    .header__menu .menu__burger::after {
        bottom: 0px;
    }

    .header__menu .menu__burger span {
        top: 50%;
        transform: translateY(-50%);
    }




    .header__menu .menu__list {
        transform: translateX(-100%);
    }

    .header__menu .menu__list li {
        font-size: 14px;
    }

    .header__menu .menu__list li span {
        font-size: 14px;
    }

    .header__menu .menu__list li:not(:last-child) {
        margin-bottom: 20px;
    }

    .header__menu .header__menu__block {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: calc(100vh - 157px);
        background-color: var(--white-color);
        z-index: 99;
        transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), - webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
        transform: translateX(-100%);
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none;
        padding: 20px;
        color: var(--brown-color);
    }


    .menu-open .header__menu .menu__burger span {
    width: 0;
    opacity: 0;
  }
  .menu-open .header__menu .menu__burger::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .header__menu .menu__burger::after {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}




@media screen and (max-width: 768px) {
    .text_block__img {
        margin-top: 20px;
    }
    .logo__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer__spollers {
        flex-direction: column;
        gap: 20px;
    }
}

@media (min-width:768px) and (min-width: 1600px) {
    .text_block__img {
        max-height: 624px;
    }
}

@media (min-width:768px) {
    .text_block__img {
        flex: 0 0 50%;
        transform: translateX(-100%);
    }
    .text_block__wrapper {
        display: flex;
    }
    .text_block__body {
        max-width: 47.43%;
    }
}



@media screen and (min-width: 992.02px) {
    .header__menu .menu__burger {
        display: none;
    }
    .footer__name {
        max-width: 220px;
        margin-right: 20px;
    }
    .footer__spollers {
        max-width: 965px;
    }
}


@media (min-width: 991.98px) and (max-width: 1439.98px) {
    .header__menu .menu__list li:not(:last-child) {
        margin-right: 30px;
    }
}

@media (min-width: 991.98px) and (max-width: 1169.98px) {
    .header__menu .menu__list li:not(:last-child) {
        margin-right: 20px;
    }
}

@media (min-width: 991.98px) {
    .header__menu .menu__list li {
        max-width: 310px;
    }
}






















